<div class="cms-page favorites-page container-fluid user">
	<ul class="nav nav-tabs" role="tablist">
		<li>
			<a href="/user/view?id=<%= req.session.User.id %>">Datos</a>
		</li>
		<li class="active">
			<a>Favoritos</a>
		</li>
		<li>
			<a href="/user/messages?id=<%= req.session.User.id %>">Mensajes</a>
		</li>
	</ul>
	<table class="table table-hover table-admin" id="favorites_table">
		<thead>
			<th></th>
			<th>Nombre</th>
			<th>Email</th>
			<th>Teléfono</th>
			<th>Opciones</th>
		</thead>
		<tbody>
			<% for(var i=0; i < organizations.length; i++) { %>
			<tr>
				<td>
					<img src="/images/<%= organizations[i].avatar %>" alt="Organization photo" class="img-circle img-small" />
				</td>
				<td><a href="/organization/view?id=<%= organizations[i].id %>"><%= organizations[i].name %></td>
				<td><%= organizations[i].email %></td>
				<td><%= organizations[i].requiredPhone %></td>
				<td>
					<a href="/favorite/remove?idUser=<%= user.id %>&idOrganization=<%= organizations[i].id %>" class="btn btn-danger" id="removeFavorite" title="Eliminar de favoritos">
						<span class="glyphicon glyphicon-star"></span>
					</a>
				</td>
			</tr>
			<% } %>
		</tbody>
	</table>
</div>
<script type="text/javascript">
	jQuery(document).ready(function() {
    	var DataTable = jQuery('#favorites_table').DataTable({
    		"language": {
                "url": "/js/dataTables/sp.lang"
            },
            "order": [[ 1, "desc" ]], 
            "columnDefs": [
            	{ "targets": 0, "orderable": false },
            	{ "targets": 4, "orderable": false }
            	]
    	});
	});
</script>