<div class="cms-page view-page container-fluid user">
	<ul class="nav nav-tabs" role="tablist">
		<li class="active">
			<a>Datos</a>
		</li>
		<li>
			<a href="/user/favorites?id=<%= user.id %>">Favoritos</a>
		</li>
        <% if(user.id == req.session.User.id){ %>
		<li>
			<a href="/user/messages?id=<%= user.id %>">Mensajes</a>
		</li>
        <% } %>
	</ul>
	<form method="POST" action="/user/update" id="editUserForm" enctype="multipart/form-data">
		<div class="row form-horizontal">
			<div class="col-md-4" id="avatar-img">
				<img src="/images/<%= user.avatar %>" alt="User photo" class="img-circle" />
				<input type="file" id="avatar" name="avatar" />
			</div>
			<div class="col-md-7">
				<div class="row form-horizontal">
					<div class="form-group">
                        <label for="name" class="col-sm-3 control-label">Nombre<em>*</em></label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control input-sm" name="name" id="name" placeholder="Nombre*" value="<%= user.name %>">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="surname" class="col-sm-3 control-label">Apellidos<em>*</em></label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control input-sm" name="surname" id="surname" placeholder="Apellidos*" value="<%= user.surname %>">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="sex" class="col-sm-3 control-label">Sexo<em>*</em></label>
                        <div class="col-sm-5">
                        	<% if(user.sex == 0){ %>
                        		Mujer
                        	<% }else{ %>
                        		Hombre
                        	<% } %>
                        </div>
                    </div>
                  	<div class="form-group">
                        <label for="email" class="col-sm-3 control-label">Email</label>
                        <div class="col-sm-9">
                            <%= user.email %>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="password" class="col-sm-3 control-label">Contraseña<em>*</em></label>
                        <div class="col-sm-9">
                            <input type="password" class="form-control input-sm" id="password" name="password" placeholder="Contraseña*">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="passwordConfirmation" class="col-sm-3 control-label">Rep. contraseña<em>*</em></label>
                        <div class="col-sm-9">
                            <input type="password" class="form-control input-sm" id="passwordConfirmation" name="passwordConfirmation" placeholder="Repita contraseña*">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="postalCode" class="col-sm-3 control-label">C.P.<em>*</em></label>
                        <div class="col-sm-9">
                            <input type="text" name="postalCode" id="postalCode" class="form-control input-sm cep"  placeholder="Código postal*" value="<%= user.postalCode %>">
                            <span class="error" id="pcodeerror" style="display:none;">Código postal erróneo</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="province" class="col-sm-3 control-label">Provincia<em>*</em></label>
                        <div class="col-sm-9">
                            <select name="province" id="province" class="form-control input-sm">
                            	<option value="<%= user.province %>"><%= user.province %></option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="city" class="col-sm-3 control-label">Ciudad<em>*</em></label>
                        <div class="col-sm-9">
                            <select name="city" id="city" class="form-control input-sm">
                            	<option value="<%= user.city %>"><%= user.city %></option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="address" class="col-sm-3 control-label">Calle<em>*</em></label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control input-sm" name="address" id="address" placeholder="Calle*"  value="<%= user.address %>">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="number" class="col-sm-3 control-label">Número<em>*</em></label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control input-sm" name="number" id="number" placeholder="Número*"  value="<%= user.number %>">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="requiredPhone" class="col-sm-3 control-label">Teléfono<em>*</em></label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control input-sm phone" id="requiredPhone" name="requiredPhone" placeholder="Teléfono oficial*"  value="<%= user.requiredPhone %>">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="extraPhone" class="col-sm-3 control-label">Otro tlf.</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control input-sm phone" id="extraPhone" name="extraPhone" placeholder="Otro"  value="<%= user.extraPhone %>">
                            <span class="help-block">
                                <button type="button" class="btn btn-link popover-dismiss" data-toggle="popover" data-placement="top" title="Información sobre los teléfonos" data-content="En el primer campo debe introducir un teléfono con el cual podamos contactar con usted siempre que sea posible. El segundo campo es opcional y sólo se usará en caso de que no podamos localizarle con el primero.">Más información sobre los teléfonos</button>
                            </span>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-3 col-sm-9">
                            <div class="checkbox">
                                <label>
                                	<% if(user.showData){ %>
                                    	<input id="showData" name="showData" type="checkbox" checked="checked" value="1"/> Mostrar datos personales
                                   	<% }else{ %>
                                   		<input id="showData" name="showData" value="1" type="checkbox"/> Mostrar datos personales
                                   	<% } %>
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-3 col-sm-9">
                            <button type="submit" class="btn btn-info">Guardar cambios</button>
                        </div>
                    </div>
                    <input type="hidden" name="_csrf" value="<%= _csrf %>" />
                    <input type="hidden" name="userId" value="<%= user.id %>" />
				</div>
			</div>
		</div>
	</form>
</div>