<div class="cms-page view-page container-fluid">
	<div class="org-header">
		<img alt="Organization photo" class="img-circle" id="org-avatar" src="/images/<%= organization.avatar %>" alt="Organization address" ></img>
		<img class="map" src="/images/maps/<%= organization.map %>" alt="Organization address" ></img>
		<h1 class="org-name"><%= organization.name %></h1>
		<h3 class="org-services"><%= organization.services %></h3>
		<div class="org-options">
			<% if((req.session.User && req.session.User.id == organization.id) || (req.session.User && req.session.User.rol == 2)){ %>
				<button  class="btn btn-info" data-toggle="modal" data-target="#editProfile">
					<span class="glyphicon glyphicon-edit"></span> Editar perfil
				</button>
			<% } %>
			<% if((req.session.User && req.session.User.id == organization.id)){ %>
				<a  class="btn btn-info" href="/organization/addsuborg">
					<span class="glyphicon glyphicon-plus"></span> Suborganización
				</a>
			<% } %>
			<% if(req.session.User && req.session.User.rol == 0 && !isFavorite){ %>
				<a href="/favorite/add?idUser=<%= req.session.User.id %>&idOrganization=<%= organization.id %>" class="btn btn-default" id="addToFavorites" title="Añadir a favoritos">
					<span class="glyphicon glyphicon-star"></span>
				</a>
			<% }else { if(req.session.User && req.session.User.rol == 0 && isFavorite){ %>
				<a href="/favorite/remove?idUser=<%= req.session.User.id %>&idOrganization=<%= organization.id %>" class="btn btn-warning" id="removeFavorite" title="Eliminar de favoritos">
					<span class="glyphicon glyphicon-star"></span>
				</a>
			<% }} %>
			<% if(req.session.User && req.session.User.id != organization.id){ %>
				<button title="Enviar un mensaje" class="btn btn-info" data-toggle="modal" data-target="#sendMessage">
					<span class="glyphicon glyphicon-envelope"></span>
				</button>
			<% } %>
			<% if(organization.headquarter){ %>
				<a title="Ir a la sede principal" class="btn btn-info" href="/organization/view/?id=<%= organization.headquarter %>">
					<span class="glyphicon glyphicon-globe"></span> Sede principal
				</a>
			<% } %>
			<% if(req.session.User && req.session.User.id != organization.id){ %>
				<button title="Reporta esta organización" class="btn btn-danger" data-toggle="modal" data-target="#sendReport">
					<span class="glyphicon glyphicon-ban-circle"></span>
				</button>
			<% } %>
		</div>
	</div>
	<div class="org-body row">
		<div class="col-md-8">
			<ul class="list-group tile">
				<li class="list-group-item tile-title" title="Dirección">
					<h2>Información de contacto</h2>
				</li>
				<li class="list-group-item" title="Dirección"><span class="glyphicon glyphicon-home"></span> <%= organization.address + " " + organization.number + ", " + organization.city + " (" + organization.province + ")" + " - " + organization.postalCode %></li>
				<li class="list-group-item" title="NIF"><span class="glyphicon glyphicon-credit-card"></span> <%= organization.nif %></li>
				<li class="list-group-item" title="Teléfono"><span class="glyphicon glyphicon-phone-alt"></span> <%= organization.requiredPhone %></li>
				<% if(organization.extraPhone) { %>
					<li class="list-group-item" title="Teléfono opcional"><span class="glyphicon glyphicon-earphone"></span> <%= organization.extraPhone %></li>
				<% } %>
				<li class="list-group-item"><span class="glyphicon glyphicon-envelope"></span> <a href="mailto:<%= organization.email %>"><%= organization.email %></a></li>
			</ul>
		</div>
		<div class="col-md-4">
			<% 
				if(	organization.twitter != undefined || organization.facebook != undefined || organization.googleplus != undefined
				|| (req.session.User && req.session.User.rol == 1 && organization.id == req.session.User.id)){ 
			%>
				<ul class="list-group tile">
					<li class="list-group-item tile-title" title="Dirección">
						<h2>
							Más información en 
							<% if(req.session.User && req.session.User.rol == 1 && organization.id == req.session.User.id){ %>
							<a data-toggle="modal" data-target="#editSocial" title="Editar redes sociales"><span class="glyphicon glyphicon-pencil"></span></a>
							<% } %>
						</h2>
					</li>
					<% if(organization.facebook != undefined) { %>
						<li class="list-group-item center">
							<a target="_blank" href="<%= organization.facebook %>">
								<img class="social-image" src="/images/facebook.png" title="Perfil en Facebook" />
							</a>
						</li>
					<% } %>
					<% if(organization.twitter != undefined) { %>
						<li class="list-group-item center">
							<a target="_blank" href="<%= organization.twitter %>">
								<img class="social-image" src="/images/twitter.png" title="Perfil en Twitter" />
							</a>
						</li>
					<% } %>
					<% if(organization.googleplus != undefined) { %>
						<li class="list-group-item center">
							<a target="_blank" href="<%= organization.googleplus %>">
								<img class="social-image" src="/images/googleplus.png" title="Perfil en Google+" />
							</a>
						</li>
					<% } %>
				</ul>
			<% } %>
		</div>
	</div>
	<% if((req.session.User && req.session.User.id == organization.id) || (req.session.User && req.session.User.rol == 2)){ %>
	<!-- Modal -->
	<div class="modal fade" id="editProfile" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  		<div class="modal-dialog">
	    	<div class="modal-content">
	      		<div class="modal-header">
	        		<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Cancelar</span></button>
	        		<h4 class="modal-title" id="myModalLabel">Editar perfil</h4>
	      		</div>
	      		<div class="modal-body">
					<form method="POST" action="/organization/update" id="editOrganizationForm" enctype="multipart/form-data">
						<div class="row form-horizontal">
							<div class="col-md-12">
								<div class="form-group">
									<label for="avatar" class="col-sm-3 control-label">Logo</label>
		                            <div class="col-sm-9">
										<input type="file" id="avatar" name="avatar" />
									</div>
								</div>
								<div class="form-group">
		                            <label for="name" class="col-sm-3 control-label">Nombre<em>*</em></label>
		                            <div class="col-sm-9">
		                                <input type="text" class="form-control input-sm" name="name" id="name" placeholder="Nombre*" value="<%= organization.name %>">
		                            </div>
		                        </div>
		                        <div class="form-group">
		                            <label for="services" class="col-sm-3 control-label">Servicios<em>*</em></label>
		                            <div class="col-sm-9">
		                                <input type="text" class="form-control input-sm" name="services" id="services" placeholder="Apellidos*" value="<%= organization.services %>">
		                            </div>
		                        </div>
		                        <div class="form-group">
		                            <label for="nif" class="col-sm-3 control-label">NIF<em>*</em></label>
		                            <div class="col-sm-9">
		                                <input type="text" class="form-control input-sm nif" name="nif" id="nif" placeholder="NIF*" value="<%= organization.nif %>">
		                            </div>
		                        </div>
		                      	<div class="form-group">
		                            <label for="email" class="col-sm-3 control-label">Email</label>
		                            <div class="col-sm-9">
		                                <%= organization.email %>
		                            </div>
		                        </div>
		                        <div class="form-group">
		                            <label for="password" class="col-sm-3 control-label">Contraseña<em>*</em></label>
		                            <div class="col-sm-9">
		                                <input type="password" class="form-control input-sm" id="password" name="password" placeholder="Contraseña*">
		                            </div>
		                        </div>
		                        <div class="form-group">
		                            <label for="passwordConfirmation" class="col-sm-3 control-label">Rep. contraseña<em>*</em></label>
		                            <div class="col-sm-9">
		                                <input type="password" class="form-control input-sm" id="passwordConfirmation" name="passwordConfirmation" placeholder="Repita contraseña*">
		                            </div>
		                        </div>
		                        <div class="form-group">
		                            <label for="postalCode" class="col-sm-3 control-label">C.P.<em>*</em></label>
		                            <div class="col-sm-9">
		                                <input type="text" name="postalCode" id="postalCode" class="form-control input-sm cep"  placeholder="Código postal*" value="<%= organization.postalCode %>">
		                                <span class="error" id="pcodeerror" style="display:none;">Código postal erróneo</span>
		                            </div>
		                        </div>
		                        <div class="form-group">
		                            <label for="province" class="col-sm-3 control-label">Provincia<em>*</em></label>
		                            <div class="col-sm-9">
		                                <select name="province" id="province" class="form-control input-sm">
		                                	<option value="<%= organization.province %>"><%= organization.province %></option>
		                                </select>
		                            </div>
		                        </div>
		                        <div class="form-group">
		                            <label for="city" class="col-sm-3 control-label">Ciudad<em>*</em></label>
		                            <div class="col-sm-9">
		                                <select name="city" id="city" class="form-control input-sm">
		                                	<option value="<%= organization.city %>"><%= organization.city %></option>
		                                </select>
		                            </div>
		                        </div>
		                        <div class="form-group">
		                            <label for="address" class="col-sm-3 control-label">Calle<em>*</em></label>
		                            <div class="col-sm-9">
		                                <input type="text" class="form-control input-sm" name="address" id="address" placeholder="Calle*"  value="<%= organization.address %>">
		                            </div>
		                        </div>
		                        <div class="form-group">
		                            <label for="number" class="col-sm-3 control-label">Número<em>*</em></label>
		                            <div class="col-sm-9">
		                                <input type="text" class="form-control input-sm" name="number" id="number" placeholder="Número*"  value="<%= organization.number %>">
		                            </div>
		                        </div>
		                        <div class="form-group">
		                            <label for="requiredPhone" class="col-sm-3 control-label">Teléfono<em>*</em></label>
		                            <div class="col-sm-9">
		                                <input type="text" class="form-control input-sm phone" id="requiredPhone" name="requiredPhone" placeholder="Teléfono oficial*"  value="<%= organization.requiredPhone %>">
		                            </div>
		                        </div>
		                        <div class="form-group">
		                            <label for="extraPhone" class="col-sm-3 control-label">Otro tlf.</label>
		                            <div class="col-sm-9">
		                                <input type="text" class="form-control input-sm phone" id="extraPhone" name="extraPhone" placeholder="Otro"  value="<%= organization.extraPhone %>">
		                                <span class="help-block">
		                                    <button type="button" class="btn btn-link popover-dismiss" data-toggle="popover" data-placement="top" title="Información sobre los teléfonos" data-content="En el primer campo debe introducir un teléfono con el cual podamos contactar con usted siempre que sea posible. El segundo campo es opcional y sólo se usará en caso de que no podamos localizarle con el primero.">Más información sobre los teléfonos</button>
		                                </span>
		                            </div>
		                        </div>
		                        <div class="form-group">
		                            <div class="col-sm-offset-3 col-sm-9">
		                                <button type="submit" class="btn btn-info">Guardar cambios</button>
		                            </div>
		                        </div>
		                        <input type="hidden" name="_csrf" value="<%= _csrf %>" />
		                        <input type="hidden" name="organizationId" value="<%= organization.id %>" />
							</div>
						</div>
					</form>

      			</div>
      			<div class="modal-footer">
		        	<button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
		     	</div>
	    	</div>
  		</div>
	</div>
	<% } %>
	<% if(req.session.User && req.session.User.id != organization.id){ %>
		<div class="modal fade" id="sendMessage" tabindex="-1" role="dialog" aria-labelledby="myLabelMessage" aria-hidden="true">
	  		<div class="modal-dialog">
		    	<div class="modal-content">
		      		<div class="modal-header">
		        		<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Cancelar</span></button>
		        		<h4 class="modal-title" id="myLabelMessage">Enviar mensaje</h4>
		      		</div>
		      		<div class="modal-body">
						<form method="POST" action="/message/send" id="sendMessageForm">
							<div class="row form-horizontal">
								<div class="col-md-12">
			                        <div class="form-group">
			                            <label for="number" class="col-sm-3 control-label">Asunto<em>*</em></label>
			                            <div class="col-sm-9">
			                                <input type="text" class="form-control input-sm" name="subject" id="subject" placeholder="Asunto*">
			                            </div>
			                        </div>
			                        <div class="form-group">
			                            <label for="message" class="col-sm-3 control-label">Mensaje<em>*</em></label>
			                            <div class="col-sm-9">
			                                <textarea class="form-control" id="message" name="message" placeholder="Escribe aquí tu mensaje"></textarea>
			                            </div>
			                        </div>
			                        <div class="form-group">
			                            <div class="col-sm-offset-3 col-sm-9">
			                                <button type="submit" class="btn btn-info"><span class="glyphicon glyphicon-send"></span>&nbsp;&nbsp;&nbsp; Enviar mensaje</button>
			                            </div>
			                        </div>
			                        <input type="hidden" name="_csrf" value="<%= _csrf %>" />
			                        <input type="hidden" name="idReceiver" value="<%= organization.id %>" />
			                        <input type="hidden" name="roleReceiver" value="<%= organization.rol %>" />
			                        <input type="hidden" name="nameReceiver" value="<%= organization.name %>" />
			                        <input type="hidden" name="idSender" value="<%= req.session.User.id %>" />
			                        <input type="hidden" name="roleSender" value="<%= req.session.User.rol %>" />
			                        <input type="hidden" name="nameSender" value="<%= req.session.User.name %>" />
								</div>
							</div>
						</form>

	      			</div>
	      			<div class="modal-footer">
			        	<button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
			     	</div>
		    	</div>
	  		</div>
		</div>
	<% } %>
	<% if(req.session.User && req.session.User.id != organization.id){ %>
		<div class="modal fade" id="sendReport" tabindex="-1" role="dialog" aria-labelledby="myLabelReport" aria-hidden="true">
	  		<div class="modal-dialog">
		    	<div class="modal-content">
		      		<div class="modal-header">
		        		<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Cancelar</span></button>
		        		<h4 class="modal-title" id="myLabelReport">Realizar un reporte</h4>
		      		</div>
		      		<div class="modal-body">
						<form method="POST" action="/report/send" id="sendReportForm">
							<div class="row form-horizontal">
								<div class="col-md-12">
			                        <div class="form-group">
			                            <label for="number" class="col-sm-3 control-label">Asunto<em>*</em></label>
			                            <div class="col-sm-9">
			                                <input type="text" class="form-control input-sm" name="subject" id="reportSubject" placeholder="Asunto*">
			                            </div>
			                        </div>
			                        <div class="form-group">
			                            <label for="message" class="col-sm-3 control-label">Descripción<em>*</em></label>
			                            <div class="col-sm-9">
			                                <textarea class="form-control" id="report" name="message" placeholder="Describe aquí el motivo de tu reporte"></textarea>
			                            </div>
			                        </div>
			                        <div class="form-group">
			                            <div class="col-sm-offset-3 col-sm-9">
			                                <button type="submit" class="btn btn-info"><span class="glyphicon glyphicon-send"></span>&nbsp;&nbsp;&nbsp; Enviar reporte</button>
			                            </div>
			                        </div>
			                        <input type="hidden" name="_csrf" value="<%= _csrf %>" />
			                        <input type="hidden" name="_csrf" value="<%= _csrf %>" />
			                        <input type="hidden" name="idReceiver" value="<%= organization.id %>" />
			                        <input type="hidden" name="roleReceiver" value="<%= organization.rol %>" />
			                        <input type="hidden" name="nameReceiver" value="<%= organization.name %>" />
			                        <input type="hidden" name="idSender" value="<%= req.session.User.id %>" />
			                        <input type="hidden" name="roleSender" value="<%= req.session.User.rol %>" />
			                        <input type="hidden" name="nameSender" value="<%= req.session.User.name %>" />
								</div>
							</div>
						</form>

	      			</div>
	      			<div class="modal-footer">
			        	<button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
			     	</div>
		    	</div>
	  		</div>
		</div>
	<% } %>
	<% if(req.session.User && req.session.User.id == organization.id){ %>
		<div class="modal fade" id="editSocial" tabindex="-1" role="dialog" aria-labelledby="myLabelSocial" aria-hidden="true">
	  		<div class="modal-dialog">
		    	<div class="modal-content">
		      		<div class="modal-header">
		        		<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Cancelar</span></button>
		        		<h4 class="modal-title" id="myLabelSocial">Tus redes sociales</h4>
		      		</div>
		      		<div class="modal-body">
						<form method="POST" action="/organization/editsocial" id="editSocialForm">
							<div class="row form-horizontal">
								<div class="col-md-12">
			                        <div class="form-group">
			                            <label for="facebbok" class="col-sm-3 control-label">Facebook</label>
			                            <div class="col-sm-9">
			                                <input type="text" class="form-control input-sm" name="facebook" id="facebook" placeholder="Facebook link" value="<%= organization.facebook != undefined ? organization.facebook : '' %>" />
			                            </div>
			                        </div>
			                        <div class="form-group">
			                            <label for="twitter" class="col-sm-3 control-label">Twitter</label>
			                            <div class="col-sm-9">
			                                <input type="text" class="form-control input-sm" name="twitter" id="twitter" placeholder="Twitter link" value="<%= organization.twitter != undefined ? organization.twitter : '' %>" />
			                            </div>
			                        </div>
			                        <div class="form-group">
			                            <label for="googleplus" class="col-sm-3 control-label">Google+</label>
			                            <div class="col-sm-9">
			                                <input type="text" class="form-control input-sm" name="googleplus" id="googleplus" placeholder="Google+ link" value="<%= organization.googleplus != undefined ? organization.googleplus : '' %>" />
			                            </div>
			                        </div>
			                        <div class="form-group">
			                            <div class="col-sm-offset-3 col-sm-9">
			                                <button type="submit" class="btn btn-info">Guardar cambios</button>
			                            </div>
			                        </div>
			                        <input type="hidden" name="_csrf" value="<%= _csrf %>" />
								</div>
							</div>
						</form>

	      			</div>
	      			<div class="modal-footer">
			        	<button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
			     	</div>
		    	</div>
	  		</div>
		</div>
	<% } %>
</div>